li {
    list-style: none;
}
a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu-item {
    margin-left: 20px;
}

.wrap-news {
    display: flex;
    justify-content: space-between;
}

.news-image {
    max-width: 170px;
    height: 140px;
}

.news-margin {
    margin-right: 100px;
}

.success {
    width: 100%;
    padding: 20px 0;
    background: greenyellow;
    color: #000;
    font-size: 26px;
    display: block;
    border-radius: 50px;
}

.success-message {
   text-align: center;
}

.review-wrap {
    border: 2px solid black;
    border-radius: 10px;
    background: #7c8ea3;
    margin-bottom: 15px;
    padding: 10px 30px;
}

.form-wrap {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 30px;
    max-width: 300px;
}

.news-annotation{
    display: flex;
    align-items: center;
}

.product-img {
    max-width: 170px;
    height: 140px;
}

.wrap_userData {
    display: flex;
    justify-content: space-between;
}

.account_img {
    max-width: 270px;
    height: 240px;
}

.wrap_user {
    flex-direction: column;
}


