{% extends 'base.html.twig' %}

{% block title %}About Company{% endblock %}
{% block main %}


    <a href="{{ path('awards') }}">Awards</a>
    <a href="{{ path('vacancies') }}">Vacancies</a>
{% endblock %}
