{% extends 'base.html.twig' %}

{% block title %}{{ subCategory.name }}{% endblock %}

{% block main %}
    Category: {{ subCategory.name }} <br><br>

    {% for  product in subCategory.products %}
        <a href="{{ path('show_product', { id: product.id }) }}">{{product.name}}</a>
        <br>
    {% endfor %}

{% endblock %}
