{% extends 'base.html.twig' %}


{% block title %}Vacancies{% endblock %}

{% block main %}

    {% for  vacancy in vacancies %}
            <h2>{{ vacancy.name}}</h2> <br>
           <p>{{ vacancy.description}}</p>
    {% endfor %}

    {{ include('vacancy/_formVacancy.html.twig', {'button_label': 'Send'}) }}
{% endblock %}
