{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block main %}


        <h2>{{ news.heading }}</h2> <br>
        <p>{{ news.annotation }}</p> <br>
        <p>{{ news.text}}</p>


{% endblock %}
