{% extends 'base.html.twig' %}

{% block main %}
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>We have sent you a letter. Follow the link indicated in it.</strong>
        </div>
{% endblock %}
